        <table>
            <thead>
            <tr>
                <th> Type</th>
                <th> Component</th>
                <th> Quantity</th>
                <th> Unit</th>
            </tr>
            </thead>

            <tbody>
            <th>
                <p id="typefield">
                    {% for type, names in components.items() %}
                    <select id="typetemplate" name="Type0">
                        <option value={{type}}>{{type}}</option>
                    </select>
                    {% endfor %}</p><br>
            </th>

            <th>
                <p id="namefield">
                    <select id="nametemplate" name="Component0">
                        {% for type, names in components.items() %}
                        {% for name in names%}
                        <option value={{name}}>{{name}}</option>
                        {% endfor %}
                        {% endfor %}
                    </select></p><br>
            </th>

            <th><p id="quantityfield">
                <input id="quantitytemplate" name="Quantity0" type="number"/></p><br></th>

            <th><p id="unitfield">
                <input id="unittemplate" name="Unit0" type="text"/></p><br></th>

            </tbody>

            <tfooter>
                <tr>
                    <td><br>
                        <input onclick="addOne('component')" type="button" value="Add a Component"/>
                    </td>
                </tr>
            </tfooter>
        </table>