{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}

<b>Please enter the following information:</b>

<div class="formwrapper">
  <form method=post>
    <div class="date">
		{{ form.date.label }} {{ form.date(placeholder="MM-DD-YYYY") }} </div>
<!--      {% if form.date.errors %}-->
<!--        <ul class="errors">{% for error in form.date.errors %}<li>{{ error }}</li>{% endfor %}</ul>-->
<!--      {% endif %}-->
    <div class="id">
      {{ form.id.label }} {{ form.id(placeholder="a") }}    </div>
<!--      {% if form.id.errors %}-->
<!--        <ul class="errors">{% for error in form.id.errors %}<li>{{ error }}</li>{% endfor %}</ul>-->
<!--      {% endif %}-->
    <div class="initials">
      {{ form.initials.label }} {{ form.initials(placeholder="XX") }}    </div>
      {% if form.initials.errors %}
        <ul class="errors">{% for error in form.initials.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}

    <div class="cutlength">
      {{ form.cutlength.label }} {{ form.cutlength(placeholder="default=0") }}    </div>

    <div class="customlabel"
         PP{ form.customlabel.label }} {{ form.customlabel }} </div>

    <div class="folder">
      {{ form.folder.label }} {{ form.folder }}    </div>
    <!--<br>
	  <input type="file" name="file[]" id="fileToUpload" multiple=''>
    <br>
      <input type="file" name="file" autocomplete="off" > required>-->


    <div class="submitbutton">
      <input id="submit" type="submit" value="Submit">
    </div>
  </form>
</div>

<br>

<br>

{% endblock %}

{% block content %} {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
{% endblock %}

{% block footer %}

 <!––TODO: catch errors if the the RFU and INFO files were not found in the correct location––>

{% endblock %}
