{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}
<style>
p.big {
line-height: 8px;
}
p.huge {
line-height: 16px;
}

</style>
<br>
<div class="formwrapper">
    <form method=post>
        <div class="cutlength" name="Cut Length">
            {{ form.cutlength.label }} {{ form.cutlength(placeholder="default=0") }}
        </div>
        <p class="big">

        <div class="customlabel" name="Custom Label">
            {{ form.customlabel.label }} {{ form.customlabel }}
        </div>
        <p class="big">

        <div class="groupidentification">
        {{ form.groupnum.label }}
            <select id="groupidentification" name="number of groups" onchange="otherSelect()">
                <option value="0">Autoselect</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p class="big">

        <p id="groupresult"></p>


<script type="text/javascript">

function otherSelect() {
    var pick = document.getElementById("groupidentification").selectedIndex;
    makeVisible(parseInt(pick));
    }

function makeVisible(grouptotal) {
    var groupdetails = document.getElementsByClassName("wellidentification");
    document.getElementById("groupresult").innerHTML = ''

    for(var group = 1; group <= grouptotal; group ++){
        var formGroupHtml = buildGroupHtml(group);
        document.getElementById("groupresult").innerHTML += formGroupHtml;
        }
    }

function buildGroupHtml(group) {
    var html ='<div class="wellidentification"><div id="grouptitle"><b> {{ form.grouptitle.label }}'
    html += group + '</b></div>'
    html += '<div id="grouplabel">{{ form.grouplabel.label }} <input name="Group Label ' + group + '" type="text"/></div>'
    html += '<div id="groupwells">{{ form.groupwells.label }} <input name="Group Wells ' + group + '" type="text"/></div>'
    html += '<div id="groupsamples">{{ form.groupsamples.label }} <input name="Group Samples ' + group + '" type="text"/></div>'
    html += '<p class="big">'
    return html;
    }

</script>


<p class="huge"><br>
<b> Optional parameters:</b><br>
    <p class="big">
        <div class="errorwells", name="Wells designated as in error">
            {{ form.errorwells.label }} {{ form.errorwells(placeholder="A01, A02, ...") }}
        </div>

        <p class="big">
        <div class="widesearch">
           {{ form.widesearch.label }}
            <input type="checkbox" name="Broad search" value="true">
        </div>
        <p class="big"></p>

        <div class="labelswaps">
        {{ form.swaplabel.label }}
            <select id="labelswaps" name="labels that were swapped" onchange="swapnumber()">
                <option value="0">None</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
        </div>
        <p class="big">

        <p id="swapinput"></p>

<script type="text/javascript">
function swapnumber() {
    var pick = document.getElementById("labelswaps").selectedIndex;
    makeSwapsVisible(parseInt(pick));
    }

function makeSwapsVisible(swapnumber) {
    var swapdetails = document.getElementsByClassName("labelidentification");
    document.getElementById("swapinput").innerHTML = ''

    for(var wellswap = 1; wellswap <= swapnumber; wellswap ++){
        var formSwapHtml = buildSwapHtml(wellswap);
        document.getElementById("swapinput").innerHTML += formSwapHtml;
        }
    }

function buildSwapHtml(swapnumber) {
    var html ='<div class="labelidentification"></div>'
    html += '<div id="labelfrom">{{ form.labelfrom.label}} <input name="Swap From ' + swapnumber + '" type="text" placeholder="A01"/></div>'
    html += '<div id="labelto">{{ form.labelto.label}} <input name="Swap To ' + swapnumber + '" type="text" placeholder="D01" /></div>'
    html += '<p class="big">'
    return html;
    }

</script>


        <p><input type="submit" name='Run' value="Run it!"/></p>
        </form>
</div>

        {% endblock %}

        {% block content %}{% endblock %}

        {% block warnings %}{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% if error %}
        <div class="alert alert-danger">{{error}}</div>
        {% endif %}

        {% if msg %}
        <div class="alert alert-success">{{msg}}</div>
        {% endif %}
        {% endblock %}

        {% block buttons %}{% endblock %}

