{% extends "master.html" %}

{% block title %}Graphs{% endblock %}

{% block body %}
<div class="formwrapper">
  <form method = "POST">
      <p><input type="submit" name='download' value="Download a ZIP file of the graphs and the analysis"/></p>
  </form>
</div>

{% endblock %}


{% block content %}
    {%for graph in graphs %}
        <img src="data:image/png;base64,{{graph}}" alt='' width="300" height="200">
    {% endfor %}
{% endblock %}


{% block buttons %}
<br>
<a href="{{ url_for('.process', id=id) }}"><button>Back</button></a>
<br>
{% endblock %}