{% extends "master.html" %}

{% block title %}
Graphs for dataset {{name}}
{% endblock %}

{% block body %}

<div class="formwrapper">
  <form method = "POST">
      <br><br>
      <div id="graph-features">

          <input type="checkbox" name='rfus' id="rfus"/>
          <label for="rfus"> RFU graphs </label><br>

          <input type="checkbox" name='inflections' id="inflections"/>
          <label for="inflections"> Inflection graphs </label><br>

          <input type="checkbox" name='curvefits' id="curvefits"/>
          <label for="curvefits"> Curve Fit graphs </label><br>

          <input type="checkbox" name='percentdiffs' id="percentdiffs"/>
          <label for="percentdiffs"> Percent Difference graphs </label><br>

          <input type="checkbox" name='experimental' id="experimental"/>
          <label for="experimental"> Experimental graphs </label><br>

          <br>

          <input type="checkbox" name='transparent' id="transparent">
          <label for="transparent"> Transparent graphs </label><br>

          <input type="checkbox" name='white' id="white"/>
          <label for="white"> White graphs </label><br>

        <br>
      </div>
        <a name='update' value="update"><button>Update</button></a>
      <br><br>

      <input type="submit" name='download' value="Download ZIP File"/>
      Please only click the download button ONCE.

  </form>
</div>

<script>

    var features = {{ features|tojson }};
    document.getElementById('experimental').checked = features.experimental == 'on' ? true : false;
    document.getElementById('transparent').checked = features.transparent == 'on' ? true : false;
    document.getElementById('white').checked = features.white == 'on' ? true : false;
    document.getElementById('rfus').checked = features.rfus == 'on' ? true : false;
    document.getElementById('inflections').checked = features.inflections == 'on' ? true : false;
    document.getElementById('curvefits').checked = features.curvefits == 'on' ? true : false;
    document.getElementById('percentdiffs').checked = features.percentdiffs == 'on' ? true : false;

</script>

{% endblock %}

{% block content %}

    {%for graph in graphs %}
        <img src="data:image/png;base64,{{graph}}" alt='' width="300" height="200">
    {% endfor %}
{% endblock %}


{% block buttons %}
<br>
<a href="{{ url_for('.analysis', id=id) }}"><button>Back</button></a>
<br>
{% endblock %}