{% extends "master.html" %}

{% block title %}Graphs{% endblock %}


{% block body %}
{% endblock %}

{% block content %}
  {%for graph in graphs %}
    <img src="{{ graph }}" width="800" height="600"/>
  {% endfor %}
{% endblock %}


{% block warnings %}{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
{% endblock %}


{% block buttons %}
<br>
<a href="{{ url_for('.process', id=id) }}"><button>Back</button></a>
<br>
{% endblock %}