{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}
<style>
p.big {
line-height: 8px;
}
</style>
<br>

<b>Please enter the following information:</b>
<br>

<div class="formwrapper">
  <form action = "{{ url_for('.search') }}" method = "POST" enctype="multipart/form-data">
      <p>RFU File: <input name="file1" id="rfufile" type="file"/></p>
      <p>INFO File: <input name="file2" id="infofile" type="file"/></p>
      <p>Output file formats coming soon...
<!--          <input type = "text" name = "folder" /></p>-->
     <p><input type = "submit" value = "Retrieve Files" /></p>

{% endblock %}

{% block content %}{% endblock %}

{% block warnings %}{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="alert alert-success">{{msg}}</div>
{% endif %}
{% endblock %}

{% block buttons %}{% endblock %}


