{% extends "master.html" %}

{% block title %} Data Analysis {% endblock %}

{% block body %}
<style>
    p.big {
        line-height: 8px;
    }

    p.huge {
        line-height: 16px;
    }

</style>
<br>
<div class="formwrapper">
    <form method=post>

        <table>
            <thead>
            <tr>
                <th> Type</th>
                <th> Component</th>
                <th> Quantity</th>
                <th> Unit</th>
            </tr>
            </thead>

            <tbody>
            <th>
                <p id="typefield">
                    {% for type, names in components.items() %}
                    <select id="typetemplate" name="Type">
                        <option value={{type}}>{{type}}</option>
                    </select>
                    {% endfor %}</p><br>
            </th>

            <th>
                <p id="namefield">
                    <select id="nametemplate" name="Component">
                        {% for type, names in components.items() %}
                        {% for name in names%}
                        <option value={{name}}>{{name}}</option>
                        {% endfor %}
                        {% endfor %}
                    </select></p><br>
            </th>

            <th><p id="quantityfield">
                <input id="quantitytemplate" name="Quantity" type="number"/></p><br></th>

            <th><p id="unitfield">
                <input id="unittemplate" name="Unit" type="text"/></p><br></th>

            </tbody>

            <tfooter>
                <tr>
                    <td><br>
                        <input onclick="addOne('component')" type="button" value="Add a Component"/>
                    </td>
                </tr>
            </tfooter>
        </table>

        <p class="huge"><br>
            <b> Upload and Analysis Parameters:</b><br>
        <p class="big">

            Fluorescence Error Cut Time
            <input name="cutlength" placeholder="default=0" type="text"/><br>
        <p class="big">

            Custom Label Addition
            <input name="customlabel" type="text"/><br>
        <p class="big">

            Group Identification
            <input onclick="addOne('group')" type="button" value="Add Groups"/>
        <p id="groupfield">

        <div id="grouptemplate">
            <div id="grouptitle"><b>Group Number </b> </div>
            <div id="grouplabel">Custom label
                <input name="Group Label" type="text"/></div>
            <div id="groupwell">Number of wells
                <input name="Group Wells" type="text"/></div>
            <div id="groupsample">Number of samples
                <input name="Group Samples" type="text"/></div>
        </div>
        <p class="big">

        <p class="huge"><br>
            <b> Optional parameters:</b><br>
        <p class="big">
            Any wells with known errors
            <input name="errorwells" placeholder="A01, A02, ..." type="text"><br>
        <p class="big">

            Swapping well positions: <input onclick="addOne('swap')" type="button" value="Add a Swap"/><br>
        <p id="swapfield">
        <p class="big">

        <div id="swaptemplate">
                Swap well from: <input name="Swap From " placeholder="A01" type="text" size="5"/>
                Swap well to: <input name="Swap To " placeholder="D01" type="text" size="5"/>
                <input name="Bidirectional Swap " type="checkbox"/>Bidirectional Swap
        </div>
        <p class="big">

        <p><input name='Run' type="submit" value="Run analysis"/></p>

        <br>
    </form>
</div>

<script type="text/javascript">
    function addOne(type) {
        switch (type) {
            case 'component' :
                clone('typetemplate', 'typefield');
                clone('nametemplate', 'namefield');
                clone('quantitytemplate', 'quantityfield');
                clone('unittemplate', 'unitfield');
                break;
            case 'group':
                document.getElementById('grouptemplate').hidden=false;
                clone('grouptemplate', 'groupfield');
                break;
            case 'swap':
                clone('swaptemplate', 'swapfield');
                break;
        }
    }

    function clone(templatename, fieldname) {
        itm = document.getElementById(templatename);
        cln = itm.cloneNode(true);
        document.getElementById(fieldname).appendChild(cln);
    }

    window.onload(document.getElementById('grouptemplate').hidden=true);

</script>


{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<a href="{{ url_for('.search', id=id) }}">
    <button>Back</button>
</a>
{% endblock %}

