{% extends "master.html" %}

{% block title %} Data Analysis {% endblock %}

{% block body %}
<style>
p.big {
line-height: 8px;
}
p.huge {
line-height: 16px;
}

</style>


<br>
<div class="formwrapper">
    <form method=post>

        <table>
            <thead>
            <tr>
                <th> Type</th>
                <th> Component</th>
                <th> Quantity</th>
                <th> Unit</th>
            </tr>
            </thead>

            <tbody>
                <th><select id="typetemplate" name="Type" onchange="refreshNames()">
                        {% for type, items in components.items() %}
                        <option value={{type}}>{{type}}</option>
                        {% endfor %}
                    </select></th>
                <th><select id="nametemplate" name="Component"  onchange="refreshUnit()">
                        {% for item in components['Target'] %}
                        <option value={{item[0]}}>{{item[0]}}</option>
                        {% endfor %}
                    </select></th>
                <th><input id="quantitytemplate" name="Quantity" type="number"/></th>
                <th><input id="unittemplate" name="Unit" type="text"/></th>
            </tbody>

            <tfooter>
                <tr><td>
                    <input onclick="addOne('component')" type="button" value="Add component"/><br>
                    <input onclick="deleteOne('component')" type="button" value="Delete last component"/>
                </td></tr>
            </tfooter>

        </table>
        <p id="component"></p>
________________________________________________________________________________
        <p class="huge">

            Custom Label Addition:
            <input name="customlabel" type="text"/><br>
        <p class="big">

        <label for="gPCR">gPCR experiment</label>
        <input type="checkbox" id="gPCR" name="gPCR" value="True"></br>

        <p class="big">

        <table>
            <thead>
            <tr><th> Group Label </th>
                <th> Number of Wells </th>
                <th> Number of Samples </th>
                <th> Location of Control(s) </th></tr>
            </thead>

            <tbody>
            <th><input id="grouplabeltemplate" name="Group Label" type="text"/></th>
            <th><input id="groupwelltemplate" name="Group Wells" type="number"/></th>
            <th><input id="groupsampletemplate" name="Group Samples" type="number"/></th>
            <th><input id="groupcontroltemplate" name="Group Control(s)" type="text"/></th>
            </tbody>

            <tfooter>
                <tr><td>
                        <input onclick="addOne('group')" type="button" value="Add group"/><br>
                        <input onclick="deleteOne('group')" type="button" value="Delete last group"/><br>
                    </td></tr>
            </tfooter>
        </table>

        <p id="group"></p>
        If no groups are entered, we will attempt to automatically differentiate them
________________________________________________________________________________

        <p class="big">

        <p class="huge"><br>

        <b> Optional parameters:</b><br>

        <p class="big">

            Any wells with known errors
            <input name="errorwells" placeholder="A01, A02, ..." type="text"><br>
            <br>
            Fluorescence Error Cut Time
            <input name="cutlength" placeholder="default=0" type="text"/><br>

        <p class="big">

        <table>
            <thead>
            <tr><th> From</th>
                <th> To</th>
                <th> Bidirectional</th></tr>
            </thead>

            <tbody>
            <th><input id="swapfromtemplate" name="Swap From 0" placeholder="A01" type="text"/></th>
            <th><input id="swaptotemplate" name="Swap To 0" placeholder="D01" type="text"/></th>
            <th><tl><input id="bidirectionaltemplate" name="Bidirectional Swap 0" type="checkbox" value=" "/></tl></th>
            </tbody>

            <tfooter>
                <tr><td>
                        <input onclick="addOne('swap')" type="button" value="Add swap"/><br>
                        <input onclick="deleteOne('swap')" type="button" value="Delete last swap"/><br>
                    </td></tr>
            </tfooter>
        </table>
        <p id="swap"></p>
________________________________________________________________________________

        <p class="big">

        <p><input name='Run' type="submit" value="Run analysis"/></p>

        <th id="startcol"><br id="breakdiv"></th></p>
    </form>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/inputs.js"></script>
<script type="text/javascript">
    function refreshNames() {
        var componenttypes = {{ components | tojson }};
        var type = $(`#typetemplate`).val();
        $('#nametemplate').empty();
        componenttypes[type].forEach(function(item){
            $('#nametemplate').append("<option>" + item.name + "</option>");
        });
        refreshUnit()
    }

    function refreshUnit() {
        var componenttypes = {{ components | tojson }};
        var type = $(`#typetemplate`).val()
        var name = $(`#nametemplate`).val()
        componenttypes[type].forEach(function(item){
            if (item.name == name) {
                $(`#unittemplate`).val(item.unit)
            }
        });
    }

</script>


{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<a href="{{ url_for('.search', id=id) }}">
    <button>Back</button>
</a>
{% endblock %}

