{% extends "master.html" %}

{% block title %} Data Analysis {% endblock %}

{% block body %}
<style>
    p.big {
        line-height: 8px;
    }

    p.huge {
        line-height: 16px;
    }

</style>


<br>
<div class="formwrapper">
    <form method=post>

        <table>
            <thead>
            <tr>
                <th> Type</th>
                <th> Component</th>
                <th> Quantity</th>
                <th> Unit</th>
            </tr>
            </thead>

            <tbody id="componenttable">
            <div id="template">
                <th><select id="typetemplate" name="Type0" class="componenttemplate" onchange="refreshNames()">
                        {% for type, names in components.items() %}
                        {% set selectedtype = type %}
                        <option value={{type}}>{{type}}</option>
                        {% endfor %}
                    </select><br></th>
                <th><select id="nametemplate" name="Component0" class="componenttemplate">
                        {% for name in components[selectedtype] %}
                        <option value={{name}}>{{name}}</option>
                        {% endfor %}
                    </select><br></th>
                <th><input id="quantitytemplate" name="Quantity0" type="number" class="componenttemplate"/><br></th>
                <th><input id="unittemplate" name="Unit0" type="text" class="componenttemplate"/><br></th>
            </div>

            <div class="componentfield">
                <th><p id="typefield"></p></th>
                <th><p id="namefield"></p></th>
                <th><p id="quantityfield"></p></th>
                <th><p id="unitfield"></p></th>
            </div>


            </tbody>

            <tfooter>
                <tr>
                    <td><br>
                        <input onclick="addOne('component')" type="button" value="Add a Component"/>
                    </td>
                </tr>
            </tfooter>
        </table>

        <p class="big">

            Custom Label Addition:
            <input name="customlabel" type="text"/><br>
        <p class="big">

        <table id="grouptable">
            <thead>
            <tr><th> Group Label </th>
                <th> Number of Wells </th>
                <th> Number of Samples </th></tr>
            </thead>

            <tbody>
            <th><p id="grouplabelfield">
                    <input id="grouplabeltemplate" name="Group Label 0" type="text"/>
                </p></th>
            <th><p id="groupwellfield">
                    <input id="groupwelltemplate" name="Group Wells 0" type="number"/>
                </p></th>
            <th><p id="groupsamplefield">
                    <input id="groupsampletemplate" name="Group Samples 0" type="number"/>
            </p></th>
            </tbody>

            <tfooter>
                <tr><td><br>
                        <input onclick="addOne('group')" type="button" value="Add a Group"/><br>
                    </td></tr>
            </tfooter>
        </table>
        If no groups are entered, we will attempt to automatically differentiate them

        <p class="big">

        <p class="huge"><br>
            <b> Optional parameters:</b><br>
        <p class="big">


        <table id="swaptable"><h>Swaps</h>
            <thead>
            <tr><th> From</th>
                <th> To</th>
                <th> Make Bidirectional</th></tr>
            </thead>

            <tbody>
            <th><p id="swapfromfield">
                    <input id="swapfromtemplate" name="Swap From 0" placeholder="A01" type="text"/>
                </p></th>
            <th><p id="swaptofield">
                    <input id="swaptotemplate" name="Swap To 0" placeholder="D01" type="text"/>
                </p></th>
            <th><td><p id="bidirectionalfield">
                <input id="bidirectionaltemplate" name="Bidirectional Swap 0" type="checkbox"/>
                </p></td></th>
            </tbody>

            <tfooter>
                <tr><td><br>
                        <input onclick="addOne('swap')" type="button" value="Add a Swap"/><br>
                    </td></tr>
            </tfooter>
        </table>

        <p class="big">
            Any wells with known errors
            <input name="errorwells" placeholder="A01, A02, ..." type="text"><br>
            <br>
            Fluorescence Error Cut Time
            <input name="cutlength" placeholder="default=0" type="text"/><br>
        <p class="big">

        <p><input name='Run' type="submit" value="Run analysis"/></p>

<!--        <p id="breakdiv"><th>h<br></th></p>-->
    </form>
</div>

<script type="text/javascript">
    function addOne(type) {
        switch (type) {
            case 'component' :
                clone2('componenttemplate', 'componentfield');

                // clone('typetemplate', 'typefield');
                // clone('nametemplate', 'namefield');
                // clone('quantitytemplate', 'quantityfield');
                // clone('unittemplate', 'unitfield');
                break;
            case 'group':
                clone('grouplabeltemplate', 'grouplabelfield');
                clone('groupwelltemplate', 'groupwellfield');
                clone('groupsampletemplate', 'groupsamplefield');
                break;
            case 'swap':
                clone('swapfromtemplate', 'swapfromfield');
                clone('swaptotemplate', 'swaptofield');
                clone('bidirectionaltemplate', 'bidirectionalfield');
                break;
        }
    }
    function clone2(templatename, fieldname) {
        itm = document.getElementsByClassName(templatename);
        // lastPosition = itm.name.toString().length-1;
        // increment = parseFloat(itm.name.toString().charAt(lastPosition));
        // itm.name = itm.name.toString().substring(0,lastPosition) + (increment + 1);
        // itm.id = itm.name.toString().substring(0,lastPosition) + (increment + 1);
        var table = document.getElementById('componenttable');
        var components = document.getElementsByTagName('component');
        var row = table.insertRow(-1);
        var r = document.getElementsByClassName(templatename);

        console.log(itm)
        // row.outerHTML += '<th>' + r[0].outerHTML + '<br></th>';
        // row.outerHTML += '<th>' + r[1].outerHTML + '<br></th>';

        console.log(itm[1])

        for (let i=1; i<itm.length; i++){
            console.log(itm[i])
            row.innerHTML += '<th>' + itm[i] + '<br></th>';
        }
        // console.log(row)


    }


    function clone(templatename, fieldname) {
        itm = document.getElementById(templatename);

        lastPosition = itm.name.toString().length-1;
        increment = parseFloat(itm.name.toString().charAt(lastPosition));
        itm.name = itm.name.toString().substring(0,lastPosition) + (increment + 1);
        itm.id = itm.name.toString().substring(0,lastPosition) + (increment + 1);

        document.getElementById(fieldname).appendChild(itm.cloneNode());
    }

    function refreshNames() {
        document.getElementById('nametemplate').innerHTML = document.getElementById('namefield').innerHTML
    }


</script>


{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<a href="{{ url_for('.search', id=id) }}">
    <button>Back</button>
</a>
{% endblock %}

