
{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}
<style>
p.big {
line-height: 8px;
}
</style>
<br>

<b>Please enter the corrected information:</b>
<br>
<p class="big">
<br>

<div class="formwrapper">
  <form method=get>
    <div class="date">
		{{ form.date.label }} {{ form.date(placeholder="MM-DD-YYYY") }} </div>
    <p class="big">

    <div class="id">
      {{ form.id.label }} {{ form.id(placeholder="a") }}    </div>
    <p class="big">

    <div class="initials">
      {{ form.initials.label }} {{ form.initials(placeholder="XX") }}    </div>
    <p class="big">

<!--<p><input type = "submit" value = "Continue" /></p>-->

<br>
<br>
{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<a href="{{ url_for('base.process', id=id, graphs=[]) }}"><button>Coming Soon...</button></a>
{% endblock %}
