
{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}
<style>
p.big {
line-height: 8px;
}
</style>
<br>

<b>Please enter the corrected information:</b>
<br>
<p class="big">
<br>

<div class="formwrapper">
  <form method=get>
    Date of Experiment
    <input type="text" name="date" placeholder="MM-DD-YYYY"><br>
    <p class="big">

  Experiment ID
  <input type="text" name="id" placeholder="a"><br>
    <p class="big">

    Your Initials
  <input type="text" name="initials" placeholder="XX"><br>
    <p class="big">

<!--<p><input type = "submit" value = "Continue" /></p>-->

<br>
<br>
{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<a href="{{ url_for('base.process', id=id) }}"><button>Coming Soon...</button></a>
{% endblock %}
