<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>FYR Diagnostics Data Analytics</title>
  <link type="text/css" rel="stylesheet"
       href="{{ url_for('static',
                        filename='hello.css')}}" />
</head>
<body>

<h2>FYR Diagnostics {% block title %}{% endblock %}</h2>

{% block body %}{% endblock %}

{% block content %}{% endblock %}

{% block warnings %}{% endblock %}

{% block buttons %}{% endblock %}

<br>
<a href="{{ url_for('.home') }}"><button>Home</button></a>

</body>
</html>


