<!doctype html>
{% extends "master.html" %}

{% block title %} Dataset Search {% endblock %}

{% block body %}

 {% for key, value in result.items() %}
    {% if key == 'metadata' %}
<!--        {%for metakey, metavalue in value.items() %}-->
<!--            <tr>-->
<!--               {{ metakey }}: {{ metavalue }} <br>-->
<!--            </tr>-->
<!--        {% endfor %}-->
    {% else %}
    <tr>
       <b>{{ key }}:</b> {{ value }} <br><br>
    </tr>
    {% endif %}
 {% endfor %}
{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<br>

<a href="{{ url_for('.manual', id=id) }}"><button>Manually Enter File Info</button></a>

<a href="{{ url_for('.process', id=id) }}"><button>Process Data</button></a>

<br>
{% endblock %}



