<!doctype html>
{% extends "master.html" %}

{% block title %} Dataset Search {% endblock %}

{% block body %}

 {% for key, value in result.items() %}
    <tr>
       <b>{{ key }}:</b> {{ value }} <br><br>
    </tr>
 {% endfor %}
{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}
<br>

<a href="{{ url_for('.input', id=id) }}"><button>Customize Run Info</button></a>
<br>
<a href="{{ url_for('.analysis', id=id) }}"><button>Run processing with previously used customization</button></a>

<br>
{% endblock %}



