{% extends "master.html" %}

{% block title %} Data Analysis Tool {% endblock %}

{% block body %}
<style>
    p.big {
        line-height: 8px;
    }
</style>
<br>

<b>Please enter the following information:</b>
<br>

<div class="formwrapper">
    <form action="{{ url_for('search') }}" method="POST">
        <p>Folder <input name="folder" type="text"/></p>
        <p><input type="submit" value="Get Files "/></p>
    </form>
</div>

{% endblock %}

{% block content %}{% endblock %}

{% block buttons %}{% endblock %}


