<!DOCTYPE html>
<html lang='en'>
<header>
  <meta charset="utf-8" />
<!--  <h1>FYR Diagnostics Data Tool</h1>-->
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
</header>
<h2></h2>


<body>

<h2>{% block title %}{% endblock %}</h2>

{% block body %}{% endblock %}

{% block content %}{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}

{% block buttons %}{% endblock %}

<br>

</body>
</html>


